#navbar {
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 80px;
}

#discover .items {
    flex-direction: column;
}
#discover .items .item {
    width: 100%;
}
.Parts .discover {
    flex-direction: column;
}
.discover-image img {
    max-width: 100%;
}

.discover .Couple {
    margin-left: 0;
}